body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

body #root {
  overflow: hidden;
  height: 100vh;
}

html {
  font-size: 13px;
}

html * {
  scrollbar-width: inherit;
}
